# Entorno
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=tu_jwt_secret_super_seguro_aqui_cambiar_en_produccion
JWT_EXPIRES_IN=24h

# Base de datos (opciones):
# 1) Usar URL completa (ej: mysql://user:pass@host:port/dbname)
# DATABASE_URL=mysql://user:password@127.0.0.1:3306/inventoryweb

# 2) O especificar por partes:
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=admin123
DB_NAME=inventoryweb
DB_DIALECT=mysql

# Si prefieres, puedes indicar el nombre de la variable que contiene la URL en config.use_env_variable:
# DB_USE_ENV_VARIABLE=DATABASE_URL
